/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #8fbc8f;
    color: #343a40;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }



  
  
/* Logo styling with icon */
.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 24px; /* Adjust as needed for icon size */
    color: #343a40; /* Logo color */
}

.navbar-logo .logo-icon {
    font-size: 32px; /* Adjust size of the icon */
    margin-right: 10px; /* Space between icon and text */
    color: inherit; /* Inherit color from navbar-logo */
}

.navbar-logo .brand-name {
    font-weight: bold;
    font-size: 1.5rem; /* Adjust font size for brand name */
    color: inherit;
}

/* Links on the right */
.navbar-links {
    display: flex;
    gap: 15px;
}

/* Buttons styling */
.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: inherit;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.nav-button:hover {
    color: darkseagreen;
}

/* Dark mode styling */
.dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
}

.dark-mode .navbar {
    background-color: #222;
}